body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-image: url('images/bercyfolies_fond_ecran.png');
    background-size: cover;
    background-position: center;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.login-container {
    background-color: rgba(255, 255, 255, 0.8);
    padding: 2rem;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    width: 300px;
    text-align: center;
    margin-left: auto;
    margin-right: 150px; /* Décale vers la droite */
    margin-top: 250px;    /* Décale vers le bas */
    }

.login-container h1 {
    color: #333;
    margin-bottom: 1.5rem;
}

.login-form input {
    width: 100%;
    padding: 0.75rem;
    margin-bottom: 1rem;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
}

.login-form button {
    width: 100%;
    padding: 0.75rem;
    background-color: #007BFF;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1rem;
}

.login-form button:hover {
    background-color: #0056b3;
}

.show-password {
    display: flex;
    align-items: center;
    margin-bottom: 1rem;
    justify-content: flex-start;
}

.show-password input {
    margin-right: 0.5rem;
}
